{% load static %}


<main>
	<div class="container-fluid mt-5" style="background-color: #f5f8fc;">
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-12 mt-4">
				<img style="margin-left: 20%" src="{% static '/images/Raju.png' %}" width="50%">
				<p class="text-center">Raju Collection is a bussiness website. Where you can see the varities of clothes
				</p>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-12 mt-5 text-center footer-support">
				<h5>Support</h5>
				<a class="d-block" href="/" style="color: black">Privacy and Policy </a>
				<a class="d-block" href="/" style="color: black">Disclaimer</a>
				<a class="d-block" href="/" style="color: black">Terms and Conditions </a>
			</div>
			<div class="col-md-4 col-lg-3 col-sm-12 mt-5 text-center">
				<a class="px-2" target="_blank" href="https://www.facebook.com/metamium"><i
						class="fa fa-facebook-official fa-2x" aria-hidden="true" style=" color:#3b5998"></i></a>
				<a class="px-2" target="_blank" href="https://twitter.com/metamium"><i class="fa fa-twitter fa-2x"
						style="color:#00acee" aria-hidden="true"></i></a>
				<a class="px-2" target="_blank" href="mailto:Metamium@gmail.com"><i class="fa fa-envelope fa-2x"
						aria-hidden="true" style="color:#D44638" }}></i></a>
				<a class="px-2" target="_blank" href="https://www.linkedin.com/company/metamium-group/mycompany"><i
						class="fa fa-linkedin fa-2x" aria-hidden="true" style="color:#00acee"></i></a>
				<div class="copyright pt-4">
					<i class="fa fa-copyright fa-sm footerline1" aria-hidden="true" style="color:black"> copyright
						2020</i><span className="footerline1"><a href="/" style="color:black; textDecoration:none"> Raju
							Collection </a> </span>
					<br />
					<i>Developed by <a target="_blank" href="https://metamium.com/"><span>Metamium Group</span></a>
				</div>

			</div>
                 <div class="maps col-lg-4 col-md-3 col-sm-10 col-12 mt-4 d-flex">
					<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.124838201632!2d81.61289804964254!3d28.59603148234596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a2850b053f79cb%3A0xaf3da9dcc73c53a2!2sRaju%20Collection!5e0!3m2!1sen!2snp!4v1606972732746!5m2!1sen!2snp" width="300" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
		</div>
	</div>


</main>
