{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="home-container col-lg-5 col-md-5 col-sm-12">
                <h1 style="color:#A37946; font-family:sans-serif;" >Raju Collection</h1>
                <p style="margin-top: 5%; font-family: sans-serif;">Raju collection is a one-stop destination for your family's fashion needs. We give you the opportunity to give your wardrobe a makeover with the latest collections from our top brands. Raju collection aims at ensuring nothing but the best for your closet. Celebrity brands like Kelme, LVD & many more lay trusts in us by launching with us exclusively. Raju collection not only allows you to shop your favorite brands from the comfort of your home but also leaves you wanting for more with our exclusive sales and best offers.
                </p>
<!--                 <button class="head-btn btn btn mx-auto">View Products </button> -->
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
                <img class="head-img" src="{% static '/images/raju.jpg' %}">

            </div>

             <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="mt-5" src="{% static '/images/ladies.jpg' %}" style="width:100%; border-radius: 25px">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12" style="font-family: sans-serif;">
                <h3 class="mt-5" style="color:#A37946">Ladies</h3>
                 <p>When it comes to women, shopping is more than just therapy. We believe that it is a joyous activity where you get to choose a whole new lifestyle. If you would like access to a wide variety of products for women ladies shop is the way to go. And of all the offline shopping store for women, Ladies shops is the place to find the finest brands of women’s fashion and lifestyle products. The women’s shopping range at ladies’ shops includes the best price merchandise of top-notch quality.</p>
                    <a href="{% url 'shop1' %}">
                <button class="btn btn"
                    style="padding: 8px 15px; width:20%; border-radius: 15px; background-color: #3866a1;color: white;">Visit</button>
                </a><hr/>
            </div>
           



           
            <div class="col-lg-6 col-md-6 col-sm-12" style="font-family: sans-serif;">
                <h3 class="mt-5" style="color:#A37946">Shoes</h3>
                <p>Explore our selection of trendy men's footwear for men offline and online to take your pick from the newest styles of formal shoes, sports shoes, and casual shoes. Make a great impression at work by wearing a pair of classy black lace-up shoes with your grey trousers and a crisp white shirt. Complete your everyday professional attire with a matching leather belt. Wear formal footwear for men such as pointed patent shoes and team it up with a classic navy pin-striped suit for your crucial client presentation. Each of the new footwear is available in the Raju collection footwear.
                </p>
                    <a href="{% url 'shop3' %}">
                <button class="btn btn"
                    style="padding: 8px 15px; width:20%; border-radius: 15px; background-color: #3866a1;color: white;">Visit</button>
                </a><hr/>
            </div>
             <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="mt-5" src="{% static '/images/shoes.jpg' %}" style="width:100%; border-radius: 25px">
            </div>
           

             <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="mt-5" src="{% static '/images/jeans.jpg' %}" style="width:100%; border-radius: 25px">
            </div>
           
            <div class="col-lg-6 col-md-6 col-sm-12" style="font-family: sans-serif;">
                <h3 class="mt-5" style="color:#A37946">Jeans</h3>
                <p>Raju jeans are one of the best stores for men in surkhet. The finest of material, superior design, and unbeatable style go into the making of our men’s shopping collection. Our range of offline and online shopping men’s wear, accessories, footwear, and personal care products is second to none. Compared with other men’s shopping sites, Raju collection brings you the best price products which won’t hurt your pocket. With seasonal discounts on trendy casual wear, suits, blazers, sneakers, and more, offline and online shopping for men at Raju collection just gets even more irresistible!</p>
                    <a href="{% url 'shop4' %}">
                <button class="btn btn"
                    style="padding: 8px 15px; width:20%; border-radius: 15px; background-color: #3866a1;color: white;">Visit</button>
                    </a> <hr/>
            </div>
            



             
            <div class="col-lg-6 col-md-6 col-sm-12" style="font-family: sans-serif;">
                <h3 class="mt-5" style="color:#A37946">Grocery</h3>
                <p>Surkhet most convenient offline grocery channel <br/>
                   Raju Mart makes your grocery shopping even simpler. No more hassles of sweating it out in crowded markets, grocery shops & supermarkets - now shop from the comfort of your home; office, or on the move.<br/>
                    We offer you the convenience of shopping for everything that you need for your home - be it fresh fruits & vegetables, rice, dals, oil, packaged food, dairy item, frozen, pet food, household cleaning items & personal care products from a single offline store.
                </p>
                    <a href="{% url 'shop5' %}"
                <button class="btn btn"
                    style="padding: 8px 15px; width:20%; border-radius: 15px; background-color: #3866a1; color: white;">Visit</button>
                </a><hr/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="mt-5" src="{% static '/images/grocery.jpg' %}" style="width:100%; border-radius: 25px">
            </div>
           
        </div>
    </div>

    <div class="container" style="font-family: sans-serif;">
        <h2 class="mt-5 text-center">About Us</h2>
        <hr />
        <p><strong>Raju Collection</strong><br/>

            Pioneer in the offline and online industry, we stand exceptional in offering Men, women, footwear, kids, and other branded products under one roof with the best prices and availability. The primary objective is to provide the best quality product for the shopping experience and the best customer service possible to the customers. There are many products found on the Raju collection, under different categories, from some of the best and reliable brands. So, if you are tired from work or don't want to drive in the hot weather, the Raju collection is a perfect place for you to shop all kinds of products for your favorite apparel while relaxing on your couch.

        </p>
        <div class="row mt-4">

            <div class="col-lg-4 col-md-4 col-sm-12 home-contact">

                <h4>Ladies Shop</h4>
                <hr />
                <strong>JEEVAN</strong>
                <p>Surkhet, Birendranager</p>
                <p class="fa fa-phone" aria-hidden="true"> &nbsp;+977 9861129760</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12  home-contact">

                <h4>Shoes Shop</h4>
                <hr />
                <strong>CHANDRU</strong>
                <p>Surkhet, Birendranager</p>
               <p class="fa fa-phone" aria-hidden="true"> &nbsp;+977 9858052533</p>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12  home-contact">

                <h4>Jeans Shop</h4>
                <hr />
                <strong>RAJU</strong>
                <p>Surkhet, Birendranager</p>
            <p class="fa fa-phone" aria-hidden="true"> &nbsp;+977 9858053372</p>
            </div>
        </div>
         <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-6 boss-contact">
                <h4><strong>Teju</strong> Pandey</h4>
                 <p class="fa fa-phone mt-3" aria-hidden="true"> &nbsp;+977 9851240831</p>
           </div>
            <div class="col-lg-6 col-md-6 col-6 boss-contact2">
                <h4><strong>Raju</strong> Pandey</h4>
                 <p class="fa fa-phone mt-3" aria-hidden="true"> &nbsp;+977 9858053372</p>
           </div>
        </div>
        <div class="container MD">
            <div class="row" style="background-color: #f5f8fc">
                    <div class="col-lg-8 col-md-8 col-sm-12" style="font-family: sans-serif;">
                       <h5 class="text-center mt-3"> <strong>Managing Director profile</strong></h5>
                             <p class="mt-4">
                                Raju collection operates as a Private Limited Company in Nepal. Mr. Raju Pandey is the Chairman and also the Managing Director of Raju collection, the largest retail store in Surkhet. He is an extraordinarily dynamic, self-made businessman. <br/>

                                Mr. Raju Pandey has truly visionary long-term goals and creates lots of jobs in Surkhet. His aims to make a business eco-system that is supported in the community and increases the lifestyles of people and have an ambitious expansion plan that will see many new stores in Surkhet and across the country over the next few years. It is Mr. Pandey’s dream and ambition to make the Raju collection and group a truly professional multinational corporation.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 mt-3">
                          <img src="{% static 'images/MD.png' %}" width="100%">
                          <p class="text-center mt-3"><strong>Raju Pandey</strong></p>
                    </div>
                </div>
        </div>
       
   <!--  <div class="container">
        <div class="text-center mt-5">
            <h2>Our Valued Clients</h2>
            <hr />
        </div>
        <div class="demo">

            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="testimonial-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit
                                amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at,
                                sagittis quis neque. Praesent.Vivamus arcu metus, mattis sed sagittis at, sagittis quis
                                neque. Praesent.
                            </p>
                            <div class="testimonial-content">
                                <div class=" testimonial-pic"><img src="{% static '/images/dummy.jpg' %}" class=""
                                        alt=""></div>
                                <h3 class="testimonial-title">williamson</h3>
                                <span class="testimonial-post">Web Developer</span>
                            </div>
                        </div>
                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="testimonial-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit
                                amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at,
                                sagittis quis neque. Praesent.Vivamus arcu metus, mattis sed sagittis at, sagittis quis
                                neque. Praesent.
                            </p>
                            <div class="testimonial-content">
                                <div class="testimonial-pic"><img src="{% static '/images/dummy.jpg' %}" alt=""></div>
                                <h3 class="testimonial-title">Kristina</h3>
                                <span class="testimonial-post">Web Designer</span>
                            </div>
                        </div>
                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="testimonial-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit
                                amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at,
                                sagittis quis neque. Praesent.Vivamus arcu metus, mattis sed sagittis at, sagittis quis
                                neque. Praesent.
                            </p>
                            <div class="testimonial-content">
                                <div class="testimonial-pic"><img src="{% static '/images/dummy.jpg' %}" alt=""></div>
                                <h3 class="testimonial-title">Steve Thomas</h3>
                                <span class="testimonial-post">Web Developer</span>
                            </div>
                        </div>

                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="testimonial-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit
                                amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at,
                                sagittis quis neque. Praesent.Vivamus arcu metus, mattis sed sagittis at, sagittis quis
                                neque. Praesent.
                            </p>
                            <div class="testimonial-content">
                                <div class="testimonial-pic"><img src="{% static '/images/dummy.jpg' %}" alt=""></div>
                                <h3 class="testimonial-title">Steve Thomas</h3>
                                <span class="testimonial-post">Web Developer</span>
                            </div>
                        </div>
                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="testimonial-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit
                                amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at,
                                sagittis quis neque. Praesent.Vivamus arcu metus, mattis sed sagittis at, sagittis quis
                                neque. Praesent.
                            </p>
                            <div class="testimonial-content">
                                <div class="testimonial-pic"><img src="{% static '/images/dummy.jpg' %}" alt=""></div>
                                <h3 class="testimonial-title">Steve Thomas</h3>
                                <span class="testimonial-post">Web Developer</span>
                            </div>
                        </div>
                        <div class="testimonial">
                            <span class="icon fa fa-quote-left"></span>
                            <p class="testimonial-description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit
                                amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at,
                                sagittis quis neque. Praesent.Vivamus arcu metus, mattis sed sagittis at, sagittis quis
                                neque. Praesent.
                            </p>
                            <div class="testimonial-content">
                                <div class="testimonial-pic"><img src="{% static '/images/dummy.jpg' %}" alt=""></div>
                                <h3 class="testimonial-title">Steve Thomas</h3>
                                <span class="testimonial-post">Web Developer</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    --> </div>

</main>

{% endblock %}
